@charset "utf-8";

:root {
    --font: "Open Sans", sans-serif;

    --background-color: #F5F4F0;
    --text-primary: #1b1b1b;
    --text-secundary: #333333;
    --text-headline: #e1624f;

    --accent-blue: #0c51a7;
    --accent-orange: #e95e10;
    --accent-pink: #e5245e;
    --accent-purple: #591b98;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    
}

body {
    background-color: var(--background-color);
}

/* container style */

#container {
    min-width: 300px;
    max-width: 1120px;
    padding: 0 20px;
    margin: auto;
    color: var(--text-primary);
}

#container > p {
    padding-top: 40px;
    text-align: center;
}

p {
    color: var(--text-secundary);
}

/* header style */

header {
    padding: 40px 0;
}

.headline {
    text-transform: uppercase;
    color: var(--text-headline);
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 8px;
    margin: 0;
}

#image {
    padding: 0 0 40px;
    text-align: center;
}

#image img {
    width: 100%;
    border-radius: 28px;
    box-shadow: 2px 2px 2px #00000050;
}

#image p {
    padding-top: 24px;
}

/* main style */

article {
    padding: 64px 0;
}

h2 {
    padding-bottom: 8px;
}

ol img {
    width: 100%;
    height: 350px;
    border-radius: 28px;
    box-shadow: 2px 2px 2px #00000050;
}

ol li {
    padding-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

ul {
    padding-bottom: 48px;
}

ul li {
    padding: 0;
    list-style-type: disc;
}

h3 {
    padding-bottom: 4px;
}

.historia {
    list-style-type: disc;
}

.historia p {
    color: var(--accent-blue);
}

.casais p {
    color: var(--accent-purple);
}

.familias p {
    color: var(--accent-pink);
}

.orcamento p {
    color: var(--accent-orange);
}

/* footer style */

footer p {
    font-size: 13px;
    padding: 50px;
    text-align: center;
    color: var(--text-primary);
}

footer a {
    color: var(--text-primary);
}